.container-auth {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 20px;
}

.text {
    color: #424530;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 3rem;
}

.underline {
    width: 61px;
    height: 6px;
    background: #424530;
    border-radius: 9rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #424530;
    padding: 3rem 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 0 10px rgb(66, 69, 48);
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    background: #ffefcdaa;
    height: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
    padding: 10px 17px;
    border-radius: 8px;
}

.inputs .input:not(:last-child) {
    margin-bottom: 2.5rem;
  }
.icon {
    font-size: 1.5rem;
    color: #424530de;
    margin-right: 10px;
}

.input input {
    flex: 1;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #2b251e;
    font-size: 1.4rem;
}

/* Forgot Password */
.forgot-password {
    align-self: flex-start;
    margin-top: -1rem;
    color: #ffefcd;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.forgot-password span {
    color: #e0bc82;
    cursor: pointer;
    margin-left: 0.4rem;
    letter-spacing: 0rem;
}

/* Submit Buttons */
.submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 20px;
  }

  .submit {
    background-color: #c8832b;
    color: #333;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin-bottom: 1.2rem;
  }

  .submit:hover {
    background-color: #b37323;
  }
  

.gray {
    background: #a58e7441;
    color: #a58e7492;
}
.toggle-action {
    color: #ffefcd;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition: color 0.3s ease;
    letter-spacing: 0.1rem;
  }
  
  .toggle-action:hover {
    color: #b37323;
    text-decoration: underline;
  }

/* Responsive */
@media (max-width: 900px) {
    .auth-wrapper {
        flex-direction: column;
        height: auto;
        padding: 2rem 1rem;
    }

    .auth-image {
        display: none;
    }

    .container-auth {
        width: 100%;
    }
}
